body{
	background: url("wave.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-backgroun-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	font-family: Georgia,serif;
	font-size: 24px;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 10%;

}

a{
	font-family: Georgia,serif;
        font-size: 24px;
        color: white;
        margin-left: 10%;
        margin-right: 10%;
	text-align: center;
}

img{
	position: absolute:
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}

.subtitle{
	font-size: 22px;
}

p{
	font-family: Georgia,serif;
	font-size: 20px;
	color: black;
}	
