body{
	background: url("wave.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-backgroun-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	font-family: Georgia,serif;
	font-size: 24px;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
}

.center {
	text-align:center;
}
